body{
    margin: 0px;
}

header{
    width: 100%;
    height: 60px;
    background-color: #333333;
    position: fixed; top: 0px;
}

nav ul{
    display: flex;
    justify-content: start;
    list-style: none;
}

nav a{
    margin-right: 10px;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}

nav a:hover{
    background-color: #555555;
}

#content{
    width: 100%;
    margin-top: 70px;
    padding: 20px;
    box-sizing: border-box;
}

#license{
    margin: 0 auto 0;
}

#name,#details{
    width: 90%;
    margin-bottom: 50px;
    border-collapse: separate;
    border: 1px solid #333333;
    border-radius: 20px;
}

td{
    border: 1px solid #333333;
}

#name td:first-child{
    border: 1px solid #333333;
    border-radius: 20px 0 0 20px;
}

#name td:last-child{
    border: 1px solid #333333;
    border-radius: 0 20px 20px 0;
}

#lt{
    border: 1px solid #333333;
    border-radius: 20px 0 0 0;
}

#rt{
    border: 1px solid #333333;
    border-radius: 0 20px 0 0;
}

#lb{
    border: 1px solid #333333;
    border-radius: 0 0 0 20px;
}

#rb{
    border: none;
}

.fst-cld{
    width: 40px;
    text-align: center;
}

#rb img{
    height: 350px;
}

#graduation{
    background-color: #00E1F5;
}

#profile-item li{
    list-style: none;
}

#profile-item a{
    text-decoration: none;
    color: #000000;
}

#profile-item a:hover{
    background-color: #cccccc;
}

#thin{
    font-size: 10px;
}

.acquisition-date{
    border: none;
}

#license-type{
    table-layout: fixed;
    border-collapse: collapse;
}

#license-type td{
    width: 30px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

.vertical-writing{
    writing-mode: vertical-lr;
}